@model IQueryable<ServiceReportView>

<div class="col">
    <div class="widget-box">
        <div class="widget-header">
            <span class="icon fa fa-th"></span>
            <h5>@Resource.ForHeader("ServiceReport")</h5>
            <div class="widget-header-buttons">
                <authorize action="ExportExcel">
                    <a asp-action="ExportExcel" class="btn">
                        <span class="far fa-file"></span><span class="text">@Resource.ForAction("ExportExcel")</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            @(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.AddAction("Details", "fa fa-info");

                    columns.AddProperty(model => model.Id);
                    columns.AddProperty(model => model.CreationDate);
                    columns.AddProperty(model => model.RateClientName);
                    columns.AddProperty(model => model.Quantity);
                    columns.AddProperty(model => model.RateActivityName);
                    columns.AddProperty(model => model.FullPrice).Formatted("{0:C}");
                    columns.AddProperty(model => model.HoldingPrice).Formatted("{0:C}");
                })
                .ApplyDefaults()
            )
        </div>
        <div class="form-group">
            <div class="form-actions col-12">
                <authorize action="Query">
                    <a asp-action="Query" class="btn btn-secondary">
                        <span class="text">@Resource.ForAction("Back")</span>
                    </a>
                </authorize>
            </div>
        </div>
    </div>
</div>
